@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply font-normal text-slate-800;
}

.font-bold { font-weight:700!important;}

h1, h2, h3, h4, h5, h6 {@apply font-bold; }

p { @apply mb-2; }

p:last-child { @apply mb-0;}

button { 
    @apply text-xl text-white bg-alchemy hover:bg-rose-800  px-6 py-3 rounded-md font-bold tracking-wider shadow-md  border border-alchemy mb-4;
}

button.reverse {
    @apply text-white bg-alchemy hover:bg-rose-800;
}
.card { @apply border border-black/20 bg-white hover:bg-logo-lightest  hover:border-alchemy shadow-md focus:bg-logo-lightest focus:border-alchemy;}

.card img { @apply rounded-t-md scale-100 transition-all;}

.card:hover img, .card:focus img { @apply  rounded-t-md scale-125 transition-all; }
.card:hover h4, .card:focus h4 { @apply font-bold;}



.nav-links > a {

    /*@apply text-3xl hover:underline hover:underline-offset-4 hover:decoration-1 hover:decoration-dotted hover:decoration-alchemy;*/
    @apply  relative transition ease-out duration-300;
    
    }
    
    .nav-links > a:after {
      content: "";
      transform: translateX(-150%) skewX(-35deg);
      z-index: -1;
      opacity:0;
      bottom:2px;
      width:100%;
      
      @apply   absolute h-0.5 bg-logo/80  transition ease-out duration-300;
    }
    
    .nav-links > a:hover {
      @apply transition ease-out duration-300;
    }
    
    .nav-links > a:hover:after {
      @apply transition ease-out duration-300 z-50;
      transform: translateX(-100%) skewX(-35deg);
      opacity:1.0;
    }

    main a, footer a {
        @apply hover:underline hover:underline-offset-2 text-alchemy font-bold ;
    }


    .container {
      @apply w-full md:w-3/4 mx-auto p-6 lg:p-0 ;
    }